nav.navbar {
  background-image: linear-gradient(to right, #579bb1, #4d94ab, #448da5, #39869f, #2e7f99);
  margin-bottom: 0.5rem !important;
  box-shadow: 0 3px 8px rgba(58, 134, 159, 0.5);
}

a.navbar-brand {
  color: #ffffff;
}

a.navbar-brand:hover {
  color: #e1d7c6;
}

.nav-item a.nav-link {
  color: #ffffff;
}

.nav-item .nav-link:hover {
  color: #e1d7c6;
}

.navbar-toggler {
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
}

@media (min-width: 1400px) {
  nav.navbar {
    padding: 0.75rem 0;
    margin-bottom: 1.5rem;
  }
}
